@import url("https://use.typekit.net/aux0gsj.css");

:root {
	--sciColMain: #D6D6CB;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	padding: 1.4em;
	background-color: var(--sciColMain);
}

::selection {
	background: #000;
	color: var(--sciColMain);
}

body,
button,
input,
select,
textarea {
	font-family: "runda", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
    display: inline-block;
    font-family: Courier, monospace;
    color: #ddca7e;
    background: #282c34;
		padding: .5em .8em;
    border-radius: .2em;
}

code,
kbd,
tt,
var {
	font: 15px Courier, monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

iframe {
	border: 0;
	width: 100%;
	height: 80vh;
	max-height: 1280px;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	background: #000;
	color: #fff;
	transition: all .2s;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li::before{
	content: "—";
}

/* header section */

header img{
	width: 70vw;
	max-width: 400px;
	margin: 2em auto 0;
}

#menu {
	padding: 1.5em 0 1em;
	margin-bottom: 3em;
	top: -0.5em;
	position: sticky;
	border-bottom: 2px solid #000;
	background: var(--sciColMain);
}

#menu ul {
	display: flex;
	justify-content: center;
	font-weight: 600;
}

#menu li:not(:last-child) {
	padding-right: 1em;
}

#lockup2 {
	margin: 0;
	visibility: hidden;
}

/* post section */


.post h2 {
	font-size: 1.6em;
	font-weight: 600;
	padding: 0 0 2em;

}
.post h3 {
	font-size: 1em;
	font-weight: 600;
	padding-bottom: 1.5em;
}

.post h3::before {
	content: "—";
}

.postSection {
	margin-bottom: 2em;
}

/* Colophon section */

footer {
	margin: 4em 0 2em;
}

.footerHead {
	margin: 2em auto 0;
	display: flex;
	justify-content:space-around;
	max-width: 300px;
}

.footerHead img {
	width: 30vw;
	max-width: 120px;
}

.footerHead nav ul{
	height: 100%;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer nav li{
	padding-top: 0.4em;
}

.footerCaption {
	font-size: 0.7em;
	padding: 0 0 2.4em;
	max-width: 640px;
	text-align: center;
	margin: auto;
}

.iconList {
	display: flex;
	justify-content: center;
}

.iconList li:not(:first-child) {
	margin-left: 0.4em;
}

.footerIcon {
	width: 1.2em;
}

/*--------------------------------------------------------------
About page:
--------------------------------------------------------------*/

#labMark {
	width: 10em;
	margin: 4em 0;
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
	max-width: 45em;
	margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

/* Check for CSS Grid support: */
@supports (grid-area: auto) {

	/* Enable grid for viewports 640px and wider: */
	@media screen and (min-width: 640px) {

		/* Disable fallback max-width center aligned rule: */
		.site {
			max-width: 1280px;
			padding: 2em 4em 4em;
		}

		/* fixed header */

		header {
			width: 100%;
			height: 4em;
		}

		header img {
			position: absolute;
			width: 16em;
			left: 4em;
			z-index: 100;
		}

		#lockup {
			top: 0;
		}
		#lockup2 {
			margin: 1.5em auto 1em;
			position: fixed;
			top: 0.2em;
			visibility: visible;
			opacity: 0;
			width: 24em;
		}

		#menu {
			/* background-color: red; */
			margin: -4em 0 0;
			padding: 2.5em 0 2em;
			font-size: 0.8em;
		}

		#menu ul{
			justify-content: flex-end;
		}

		/* post1 */

		.main-area{
			padding: 2em 0;
		}

		.sciGrid {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-column-gap: 2em;
			grid-row-gap: 2em;
		}

		.sciGrid img{
			/*padding: 0 0 4em;*/
			margin: 0;
			z-index: 100;
		}

		.sciSpanH6 { grid-column: 6 span; }
		.sciSpanH5 { grid-column: 5 span; }
		.sciSpanH4 { grid-column: 4 span; }
		.sciSpanH3 { grid-column: 3 span; }
		.sciSpanH2 { grid-column: 2 span; }

		.sciSpanV3 { grid-row: 3 span; }
		.sciSpanV2 { grid-row: 2 span; }
	}

	@media screen and (min-width: 1440px) {
		header img {
			left: calc((100vw - 1280px) / 2);
		}
}
